.banner {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 13em;
    height: 12em;
    bottom: 0em;
    right: 1.5em;
    margin: auto;
    z-index: 999;
}

.banner a {
    font-family: 'Comfortaa', cursive;
    font-size: 1.2em;
    color: #fff;
    padding: 1em;
    margin-top: 1em;
    border-radius: .5rem;
    background: rgba(8, 57, 69, 0.2);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    -o-backdrop-filter: blur(10px);
    -ms-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    -webkit-box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.5);
    -moz-box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.5);
    box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.5);
    border: 1px solid #fff;
}

.banner a:first-child {
    margin-top: 0;
}

.banner.active {
    display: none;
}

.close_banner {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    top: -1em;
    right: -.9em;
    background-color: #000;
    border: .2em solid #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: all 200ms ease-in
}

.close_banner:before,
.close_banner:after {
    content: "";
    position: absolute;
    background-color: #fff;
    top: 50%;
    left: 50%;
    width: 60%;
    height: .2em
}

.close_banner:before {
    transform: translate3d(-50%, -50%, 0) rotate(-45deg)
}

.close_banner:after {
    transform: translate3d(-50%, -50%, 0) rotate(45deg)
}

.active_on {
    display: block
}

.active_off {
    display: none
}
