footer {
	background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7)), url(../img/footer-bg.jpg) center no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	border-top-left-radius: 2em;
	border-top-right-radius: 2em;
	scroll-margin-top: 50px;
	overflow: hidden;
}

footer::-webkit-full-page-media,
footer:future,
footer:root .safari_only {
	padding-top: 50px;
}

.footer_title {
	display: flex;
	font-family: 'Comfortaa', cursive;
	color: #fff;
	font-size: 1.4em;
	padding: 1em 0em .7em 0em;
}

.send_message_txt {
	width: 40%;
	text-align: center;

}

.address_txt {
	width: 60%;
	text-align: center;
}

.footer_inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding-bottom: 1em;
}

.feedback {
	width: 40%;
	height: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	padding-right: 1em;
}

.input_txt {
	font-family: 'Comfortaa', cursive;
	font-size: 1em;
	padding: .5em;
	border: .1rem solid #bcbcbc;
	opacity: .8;
	transition: opacity 400ms ease-in;
	transition: transform 200ms ease-in;
}

.input_txt:hover {
	opacity: 1;
	transform: translate(.2em, 0);
}

.input_name {
	width: 50%;
	height: 2em;
	margin-bottom: 1em;
	border-radius: .8rem;
}

.input_phone {
	width: 50%;
	height: 2em;
	margin-bottom: 1em;
	border-radius: .8rem;
}

.input_message {
	width: 100%;
	height: 10em;
	margin-bottom: 1em;
	border-radius: .8rem;
}

.input_btn {
	width: 8em;
	height: 2em;
}

.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 1em;
	width: 60%;
}

.contact p {
	font-family: 'Comfortaa', cursive;
	color: #fff;
	font-size: 1.4em;
	line-height: 1.5em;
}

.contact_inner {
	display: flex;
	justify-content: center;
	width: 100%;
	flex-wrap: wrap;
}

.timework {
	width: 40%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 2.5em;
}

.time {
	padding: .5em 0 0 .5em;
}

.map {
	position: relative;
	width: 60%;
	height: 15em;
	border-radius: 1em;
	overflow: hidden;
}

.map_bg {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
}

.map_api {
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 100%;
}

.social {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 1em;
}

.social a {
	font-family: 'Comfortaa', cursive;
	font-size: 1.3em;
	letter-spacing: .1em;
	color: #fff;
	text-transform: uppercase;
}

.social_group {
	display: flex;
	align-items: center;
	margin-left: 2em;
	transition: transform 200ms ease-in;
}

.social_group:hover {
	transform: translate(.2em, 0);
}

.social_group:first-child {
	margin-left: 0em;
}

.social_number:hover .st0 {
	fill: #4aa4ca;
}

.social_massage {
	display: none;
}

.social_vk:hover .st0 {
	fill: #4aa4ca;
}

.icon {
	width: 1.5em;
	height: 1.5em;
	border: .01em solid #fff;
	border-radius: .3em;
}

.st0 {
	fill: #0673a1;
	stroke: #000000;
	transition: all 0.2s linear;
}

.st1 {
	fill: #FFFFFF;
	stroke: #000000;
	stroke-width: 2;
	transition: all 0.2s linear;
}

.social_margin {
	margin-left: .5em;
}

.content_hide {
	display: none;
}

.br_visible {
	display: none;
}

.modal {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 99;
	opacity: 0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modal-open {
	opacity: 1;
	pointer-events: auto;
	overflow-y: auto;
}

.modal-content {
	background-color: #fff;
	border-radius: .3em;
}

.modal-header {
	padding: 15px;
	border-bottom: 1px solid #eceeef;
}

.close {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: 700;
	opacity: .5;
	cursor: pointer;
}

.close:focus,
.close:hover {
	color: #000;
	cursor: pointer;
	opacity: .75;
}

.modal-body {
	padding: 15px;
}

@media screen and (max-width: 1230px) {
	.timework {
		padding-left: 1.5em;
	}

	.social a {
		letter-spacing: .05em;
	}
}

@media screen and (max-width: 1110px) {
	.timework {
		padding-left: 0em;
	}

	.social a {
		letter-spacing: 0em;
	}

	.social_group {
		margin-left: 1em;
	}
}

@media screen and (max-width: 1024px) {
	.send_message_txt {
		display: none;
	}

	.address_txt {
		width: 100%
	}

	.feedback {
		display: none
	}

	.contact {
		width: 100%
	}

	.timework {
		padding-left: 0em;
		align-items: center;
	}

	.social {
		justify-content: space-between;
		width: 100%;
	}

	.social_massage {
		display: flex;
	}

	.social_group {
		margin-left: 0em;
	}

	.social_group:hover {
		transform: translate(0, 0);
	}
}

@media screen and (max-width: 850px) {

	.social a {
		font-size: 1em;
		letter-spacing: 0em;
	}
}

@media screen and (max-width: 680px) {
	.contact p {
		font-size: 1.2em;
	}

	.timework {
		padding-left: 0em;
		align-items: inherit;
	}

	.social a {
		font-size: .9em;
	}
}

@media screen and (max-width: 600px) {
	footer {
		border-radius: 0;
	}

	.contact {
		padding-left: 0em;
	}

	.contact p {
		line-height: 2em;
	}

	.timework {
		width: 40%;
		margin-top: 1em;
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}

	.time {
		padding: 0 0 0 .5em;
	}

	.map {
		width: 100%;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.social {
		width: 60%;
		flex-direction: column;
		justify-content: center;
		-webkit-order: 3;
		-ms-flex-order: 3;
		order: 3;
	}

	.social a {
		font-size: 1.2em;
	}

	.social_group {
		margin-top: 1em;
	}

	.social_group:first-child {
		margin-top: 0em;
	}
}

@media screen and (max-width: 555px) {
	.timework {
		width: 50%;
	}

	.social_group {
		display: flex;
		justify-content: center;
	}

	.social {
		width: 40%;
	}

	.social a {
		font-size: 1.1em;
	}

	.content_visible {
		display: none;
	}

	.content_hide {
		display: block;
	}
}

@media screen and (max-width: 555px) {
	.social {
		width: 50%;
	}
}

@media screen and (max-width: 450px) {
	.contact p {
		font-size: 1.4em;
		line-height: 1.5em;
	}

	.timework {
		width: 100%;
		margin: 0em 0em 1em 3em;
		-webkit-order: 1;
		-ms-flex-order: 1;
		order: 1;
	}

	.time {
		padding: .3em 0 0 3em;
	}

	.map {
		-webkit-order: 2;
		-ms-flex-order: 2;
		order: 2;
	}

	.social {
		width: 100%;
		-webkit-order: 3;
		-ms-flex-order: 3;
		order: 3;
	}

	.social a {
		font-size: 1.4em;
	}
}

@media screen and (max-width: 400px) {
	.br_visible {
		display: block;
	}

	.footer_title {
		font-size: 1.3em;
		line-height: 1.4em;
	}

	.contact p {
		font-size: 1.3em;
		line-height: 1.8em;
	}

	.timework {
		text-align: center;
		margin: 0;
	}

	.time {
		padding: 0;
	}

	.social a {
		font-size: 1.3em;
	}

	.social_group {
		margin-top: .7em;
	}
}
