header {
	display: flex;
	position: absolute;
	align-items: center;
	width: 100%;
	height: 100px;
	z-index: 99999;
}

.header-scroll.header {
	position: fixed;
	height: 50px;
	background-color: rgba(26, 36, 62, 0.8);
}

.header_inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
	z-index: 99999;
}

.header-scroll .logo_black {
	display: none;
}

.logo a {
	cursor: default;
}

.logo_white {
	display: none;
}

.header-scroll .logo_white {
	display: block;
}

.logo img {
	width: 85px;
	height: auto;
}

.header-scroll .logo img {
	width: 40px;
}

.rct {
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;
	letter-spacing: 20px;
	color: #000;
	font-size: 50px;
	border-left: 3px solid #000;
	padding: 10px 0px 10px 20px;
	margin-left: 20px;
}

.header-scroll .rct {
	color: #fff;
	border-left: 1px solid #fff;
	padding: 5px 0px 5px 20px;
	font-size: 30px;
}

.nav {
	text-align: right;
	padding: 10px;
}

.nav_link {
	display: inline-block;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
	color: #f2f2f2;
	font-size: 15px;
	text-decoration: none;
	text-transform: uppercase;
	margin-left: 20px;
	transition: all 0.2s linear;
	cursor: pointer;
}

.nav_link:hover {
	color: #fff;
	transform: translateY(-3px);
}

.header-scroll .nav_link:hover {
	transform: translateY(0px);
}

.nav_link:first-child {
	margin-left: 0;
}

.nav_link:before {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	opacity: 0;
	margin-bottom: 10px;
	transform: scale(0);
	transition: all .2s linear;
}

.nav_link:hover:before {
	opacity: 1;
	transform: scale(1);
}

.nav_link:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	opacity: 0;
	margin-top: 10px;
	transform: scale(0);
	transition: all .2s linear;
}

.nav_link:hover:after {
	opacity: 1;
	transform: scale(1);
}

.nav_4k {
	display: none;
}

.burger {
	display: none;
	padding: 9px 2px;
	background: none;
	cursor: pointer;
	z-index: 9999;
}

.burger.active .burger_item {
	background: none;
}

.nav-burger:focus {
	outline: 0;
}

.burger_item {
	display: block;
	width: 28px;
	height: 3px;
	background-color: #fff;
	position: relative;
	z-index: 2;
}

.burger_item:before,
.burger_item:after {
	content: "";
	height: 100%;
	background-color: #fff;
	position: absolute;
	right: 0;
}

.burger_item:before {
	width: 30px;
	top: -8px;
}

.burger_item:after {
	width: 30px;
	bottom: -8px;
}

.burger.active .burger_item:before {
	transform: rotate(45deg) translate3d(6px, 5px, 0)
}

.burger.active .burger_item:after {
	transform: rotate(-45deg) translate3d(6px, -5px, 0);
}

.overpage_disable {
	display: none;
}

.nav_link_back {
	display: none;
	font-family: 'Comfortaa', cursive;
	font-weight: 700;
	line-height: normal;
	color: #f2f2f2;
	font-size: 1.4em;
	cursor: pointer;
	text-transform: none;
	margin: 0;
}

.nav_link_back:before {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	opacity: 0;
	margin-bottom: 10px;
	transform: scale(0);
	transition: all .2s linear;
}

.nav_link_back:hover:after,
.nav_link_back:hover:before {
	opacity: 1;
	transform: scale(1);
}

.nav_link_back:after {
	content: '';
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	opacity: 0;
	margin-top: 10px;
	transform: scale(0);
	transition: all .2s linear;
}

.nav_link_back.nav_link_back_pc {
	display: block;
}

@media screen and (min-width: 2200px) {
	.header-scroll.header {
		height: 100px;
	}

	.header-scroll .nav_4k {
		color: #fff;
	}

	.nav {
		display: none;
	}

	.nav_4k {
		display: block;
		font-family: 'Comfortaa', cursive;
		font-weight: 700;
		line-height: normal;
		color: #f2f2f2;
		font-size: 1.4em;
		cursor: pointer;
		text-transform: none;
		margin: 0;
	}

	.header-scroll .nav_4k {
		color: #f2f2f2;
	}

	.header-scroll .nav_4k:hover {
		transform: translateY(0px);
		color: #fff;
	}

	.nav_4k.overpage_disable {
		display: none;
	}
}

@media screen and (max-width: 768px) {
	body.active {
		overflow: hidden;
	}

	header {
		height: 85px;
	}

	.header-scroll.header.active {
		-webkit-animation: header_active .3s forwards;
		-moz-animation: header_active .3s forwards;
		-o-animation: header_active .3s forwards;
		animation: header_active .3s forwards;
	}

	@keyframes header_active {
		50% {
			background-color: rgba(26, 36, 62, 0.8);
		}

		100% {
			background-color: rgba(0, 0, 0, 0);
		}
	}

	.logo_black.active {
		display: none;
	}

	.logo_white.active {
		display: block;
		-webkit-animation: logo_white .3s forwards;
		-moz-animation: logo_white .3s forwards;
		-o-animation: logo_white .3s forwards;
		animation: logo_white .3s forwards;
	}

	@keyframes logo_white {
		0% {
			opacity: 0;
		}

		100% {

			opacity: 1;
		}
	}

	.header-scroll .logo_white.active {
		animation: none;
	}

	.rct.active {
		color: #fff;
		border-left: 3px solid #fff;
		-webkit-animation: rct .3s forwards;
		-moz-animation: rct .3s forwards;
		-o-animation: rct .3s forwards;
		animation: rct .3s forwards;
	}

	@keyframes rct {
		0% {
			opacity: 0;
		}

		100% {

			opacity: 1;
		}
	}

	.header-scroll .rct.active {
		animation: none;
		border-left: 1px solid #fff;
	}

	.nav {
		display: none;
		position: absolute;
		width: 80%;
		height: 70vh;
	}

	.nav.active {
		position: fixed;
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 9999;
		background-color: rgba(77, 77, 77, 0.95);
		opacity: 0;
		-webkit-animation: nav_active .3s forwards;
		-moz-animation: nav_active .3s forwards;
		-o-animation: nav_active .3s forwards;
		animation: nav_active .3s forwards;
	}

	@keyframes nav_active {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.nav_link {
		font-size: 20px;
		line-height: 40px;
		margin: .5em 0;
	}

	.nav_link:before,
	.nav_link:after {
		display: none;
	}

	.burger {
		display: block;
	}

	.burger.overpage_disable {
		display: none;
	}
}

@media screen and (max-width: 550px) {
	.nav_link_back.nav_link_back_pc {
		display: none;
	}

	.nav_link_back.nav_link_back_mobile {
		display: block;
	}
}

@media screen and (max-width: 375px) {
	header {
		height: 60px;
	}

	.header-scroll.header {
		height: 60px;
	}

	.logo img {
		width: 50px;
		transition: all 0s linear;
	}

	.header-scroll .logo img {
		width: 50px;
		transition: all 0s linear;
	}

	.rct {
		letter-spacing: 15px;
		font-size: 30px;
	}

	.header-scroll .rct {
		letter-spacing: 15px;
		font-size: 30px;
	}
}
