.intro {
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	min-height: 55em;
	-webkit-animation: intro 1s forwards;
	-moz-animation: intro 1s forwards;
	-o-animation: intro 1s forwards;
/*	overflow: hidden;*/
}

.intro_title {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 70%;
}

.title {
	font-family: 'Neucha', cursive;
	font-size: 5em;
	margin-bottom: .5em;
}

.suptitle {
	font-family: 'Neucha', cursive;
	font-size: 3.2em;
	text-align: right;
}

.suptitle:after {
	content: '';
	display: block;
	width: 50%;
	height: .01em;
	background: #7b7b7b;
	margin: 1.3em auto;
}

.title_text {
	font-family: 'Neucha', cursive;
	font-style: italic;
	font-size: 2.6em;
	text-align: left;
	width: 21.3em;
}

.intro_bg {
	position: absolute;
	text-align: right;
	width: 100%;
	right: 0;

}

.intro_bg img {
	width: 35%;
}

@media screen and (min-width: 2200px) {
	.intro {
		height: auto;
	}
	.intro_bg img {
	width: 30%;
}
}

@media screen and (max-width: 1285px) {
	.title_text {
		font-size: 2.4em;
	}
}

@media screen and (max-width: 1230px) {
	.intro_title {
		margin-left: 3.75em;
	}

	.title {
		font-size: 3.438em;
	}

	.suptitle {
		font-size: 2.5em;
	}

	.suptitle:after {
		margin: 1.5em auto;
	}

	.title_text {
		font-size: 2.1em;
	}
}

@media screen and (max-width: 1080px) {
	.intro {
		min-height: 40em;
	}

	.title_text {
		font-size: 1.9em;
	}

	.intro_bg {
		bottom: 1em;
	}
}

@media screen and (max-width: 970px) {
	.title {
		font-size: 3.3em;
	}

	.suptitle {
		font-size: 2.3em;
	}

	.title_text {
		letter-spacing: .04em;
		line-height: 1.2em;
		width: 15.5em;
	}
}

@media screen and (max-width: 870px) {
	.title {
		font-size: 3em;
	}

	.suptitle {
		font-size: 2em;
	}

	.suptitle:after {
		margin: 2em auto 3em;
	}

	.title_text {
		font-size: 1.5em;
	}
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 2.5em;
	}

	.suptitle {
		font-size: 1.5em;
	}

	.title_text {
		font-size: 1.4em;
	}
}

@media screen and (max-width: 615px) {
	.intro_title {
		width: 90%;
		margin: 0 auto;
	}

	.title {
		text-align: center;
	}

	.suptitle {
		text-align: center;
	}

	.title_text {
		font-size: 1.3em;
	}
}

@media screen and (max-width: 485px) {
	.title {
		font-size: 2.4em;
	}

	.suptitle {
		font-size: 1.4em;
	}
}

@media screen and (max-width: 465px) {
	.title {
		font-size: 2.3em;
	}

	.suptitle {
		font-size: 1.3em;
	}

	.title_text {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 445px) {
	.intro {
		/*		height: 95vh;*/
	}

	.title {
		font-size: 2.2em;
	}

	.suptitle {
		font-size: 1.2em;

	}

	.title_text {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 430px) {
	.suptitle:after {
		margin: 1em auto;
	}

	.title_text {
		font-size: 1.2em;
		text-align: center;
		margin: 0 auto;
	}
}

@media screen and (max-width: 400px) {
	.title {
		font-size: 2.1em;
	}

	.suptitle {
		font-size: 1.1em;
	}

	.title_text {
		font-size: 1.1em;
	}
}

@media screen and (max-width: 335px) {
	.suptitle {
		font-size: 1em;
	}

	.title_text {
		font-size: 1em;
	}
}
