.intro {
    background: url(../img/intro-bg-2.png) center right no-repeat;
    -webkit-background-size: 35%;
    background-size: 35%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    min-height: 850px;

}

.intro_title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    /*    border: 1px solid #000;*/
}

.title {
    font-family: 'Neucha', cursive;
    font-size: 70px;
    margin-bottom: 50px;
}

.suptitle {
    font-family: 'Neucha', cursive;
    font-size: 50px;
    text-align: right;
}

@media screen and (max-width: 1230px) {
    .intro_title {
        width: 70%;
        margin-left: 60px;
    }

    .title {
        font-size: 55px;
    }

    .suptitle {
        font-size: 40px;
    }
}

@media screen and (max-width: 1024px) {
    .intro {
        background: url(../img/intro-bg-2.png) bottom right no-repeat;
        -webkit-background-size: 45%;
        background-size: 45%;
        min-height: 750px;
    }

    .intro_title {
        width: 700px;
        margin-left: 70px;
        -webkit-transform: rotate(-60deg);
        -moz-transform: rotate(-60deg);
        -ms-transform: rotate(-60deg);
        -o-transform: rotate(-60deg);
        transform: rotate(-60deg);
    }

    .title {
        font-size: 60px;
    }
}

@media screen and (max-width: 900px) {
    .intro_title {
        margin-left: 20px;
    }
}

@media screen and (max-width: 768px) {


    .intro_title {
        margin-left: -30px;
    }
}

@media screen and (max-width: 650px) {


    .intro_title {
        margin-left: -70px;
    }

    @media screen and (max-width: 550px) {
        .intro {
            min-height: 710px;
        }

        .intro_title {
            width: 650px;
            margin-left: -100px;
            -webkit-transform: rotate(-70deg);
            -moz-transform: rotate(-70deg);
            -ms-transform: rotate(-70deg);
            -o-transform: rotate(-70deg);
            transform: rotate(-70deg);
        }

        .title {
            font-size: 55px;
            margin-bottom: 20px;
        }

        .suptitle {
            font-size: 35px;
        }
    }

    @media screen and (max-width: 450px) {
        .intro {
            min-height: 700px;
        }

        .intro_title {
            width: 600px;
            margin-left: -90px;
            -webkit-transform: rotate(-75deg);
            -moz-transform: rotate(-75deg);
            -ms-transform: rotate(-75deg);
            -o-transform: rotate(-75deg);
            transform: rotate(-75deg);
        }
    }

    @media screen and (max-width: 400px) {
        .intro {
            min-height: 590px;
        }

        .intro_title {
            width: 430px;
            margin-left: -40px;
        }

        .title {
            font-size: 40px;
        }

        .suptitle {
            font-size: 25px;
        }
    }

    @media screen and (max-width: 320px) {
        .intro {
            min-height: 480px;
        }

        .intro_title {
            width: 385px;
            margin-left: -45px;
        }

        .title {
            font-size: 35px;
        }

        .suptitle {
            font-size: 20px;
        }
    }
