.reviews {
    font-family: 'Comfortaa', cursive;
    margin-top: 4em;
}

.reviews_form {
    padding: 1em;
    margin-bottom: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .5rem;
    -webkit-box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.2)
}

.ec-rating-stars {
    display: inline-flex;
}

.ec-rating-stars span {
    display: inline-block;
    background: transparent;
    width: 2em;
    height: 2em;
    padding: 0 2px;
}

.ec-rating-stars svg {
    cursor: pointer;
    color: #e6eff7;
    width: 100%;
    height: 100%;
}

.ec-rating-stars svg path {
    stroke: #333;
    stroke-width: .5em;
}

.ec-rating-stars .active svg,
.ec-rating-stars .active2 svg {
    color: #9689db;
}

.ec-rating-stars .active-disabled svg {
    color: #e6eff7;
}

.review_rating {
    display: inline-flex;
    opacity: 0.65;
    padding: 4px 0;
}

.review_rating svg {
    width: 18px;
    height: 18px;
    margin-right: 2px;
}

.review_rating svg path {
    stroke: #333;
    stroke-width: 7px;
}

.reviews_list {
    padding-bottom: 1em
}

.reviews_list_item {
    padding: 1em;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: .5rem;
    -webkit-box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.2);
    box-shadow: 2px 2px 8px 0 rgba(34, 60, 80, 0.2)
}

.reviews_list_item:first-child {
    margin-top: 0;
}

.wrapper_rating_date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5em;
}

.review_date {
    color: #757575;
}

.review_name {
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: .5em;
}

.review_text {
    line-height: 1.3em;
    padding: .5em;
    margin-bottom: .5em;
}

.review_image_body {
    margin-bottom: .5em;
}

.wrapper_review_image {
    position: relative;
    display: inline-block;
    width: 7em;
    height: 7em;
    overflow: hidden;
}

.review_image {
    position: absolute;
    height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

.review_reply {
    padding: .5em 1em 1em;
    background-color: #d3d3d3;
    border-radius: .5rem;
}

.review_reply i {
    font-size: .7em
}

.review_reply p {
    padding: 1em;
}

@media screen and (max-width:768px) {
    .rating_body {
        justify-content: center;
    }
}

@media screen and (max-width:400px) {
    .rating_text {
        display: none
    }
}