@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

/* font-family: 'Comfortaa', cursive; */
/* font-family: 'Philosopher', sans-serif; */
/* font-family: 'Neucha', cursive; */

body {
    height: 100%;
    background: #f3f7fb url(../img/banner-bg.png) top right no-repeat;
    -webkit-background-size: 65%;
    background-size: 65%;
    -webkit-background-attachment: fixed;
    background-attachment: fixed;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.container_4k {
    width: 100%;
    max-width: 2300px;
    margin: 0 auto;
}
