.work {
    background-color: #009FE3;
    background-image: url(../img/bg_services.jpg);
    background-size: 99.9% 99.9%;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 58em
}

.bg_skew_work {
    width: 100%;
    height: 63em;
    padding-top: 5em;
    background-color: #009fe3;
    transform: skewY(-5deg)
}

.wrapper_work {
    position: relative;
    width: 79em;
    height: 50em;
    margin: 0 auto;
    transform: skewY(5deg)
}

.slider_big {
    position: absolute;
    width: 55%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1em 0
}

.work_inner {
    position: absolute;
    width: 45%;
    height: 93%;
    top: 0;
    right: 0;
    padding: 1em
}

.work_title {
    text-align: right;
    width: 100%;
    height: 15%;
    font-size: 4em;
    font-weight: 700;
    padding-top: .5em;
    color: #fff
}

.work_title::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin: 0.2em 0
}

.slider_description {
    width: 100%;
    height: 75%;
    padding: 1em 0
}

.slider {
    position: relative;
    width: 100%;
    height: 15%
}

.slick-list {
    height: 100%;
    overflow: hidden
}

.slick-track {
    display: flex;
    height: 100%
}

.sliderbig_item {
    position: relative;
    opacity: 1;
    transition: all 300ms ease-in
}

.slider_description_item {
    position: relative;
    opacity: 1;
    transition: all 300ms ease-in
}

.slider_item {
    position: relative;
    opacity: .8;
    transition: all 300ms ease-in
}

.slick-slide.slick-center {
    opacity: 1;
    border: 1px solid #fff
}

.slider_item_foto {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 95
}

.slider_item_foto_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden
}

.slider_item_foto_wrapper img {
    position: absolute;
    height: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0)
}

.slider_item_content {
    position: absolute;
    width: 100%;
    font-size: 2em;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 94
}

.slider_item_content_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 0 0 .25em
}

.slider_item_content_text {
    color: #fff;
    padding: .25em 0 .5em
}

.slick-arrow {
    position: absolute;
    width: 4em;
    height: 3em;
    background-color: rgba(113, 113, 113, 0.9);
    background-image: url("../img/ico_arrow_top.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    bottom: -5em;
    opacity: .5;
    z-index: 93;
    transition: all 200ms ease-in
}

.slick-arrow:hover {
    opacity: 1
}

.slick-arrow.slick-prev {
    right: 6.5em;
    transform: rotate(-90deg)
}

.slider .slick-arrow.slick-next {
    right: 1.5em;
    transform: rotate(90deg)
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.slick-dots li {
    list-style: none;
    margin: 0 1em
}

.slick-dots li button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #a2a2a2;
    border-radius: 50%;
    transition: all 150ms ease-in
}

.slick-dots li button:hover {
    background-color: #e5e5e5
}

.slick-dots li.slick-active button {
    background-color: rgba(0, 0, 0, 1)
}

.work_visible_mobile {
    display: none
}

@media screen and (max-width:1366px) {
    .work {
        height: 50em
    }

    .bg_skew_work {
        height: 55em
    }

    .wrapper_work {
        width: 62em;
        height: 40em
    }

    .work_inner {
        height: 91%
    }

    .work_title {
        font-size: 3em
    }

    .slider_item_content {
        font-size: 1.5em
    }
}

@media screen and (max-width:1024px) {
    .work {
        height: 37em
    }

    .bg_skew_work {
        height: 40em;
        padding-top: 2em
    }

    .wrapper_work {
        width: 46em;
        height: 35em
    }

    .work_inner {
        height: 93%
    }

    .work_title {
        font-size: 2em
    }

    .slider_item_content {
        font-size: 1.3em
    }

    .slick-arrow {
        width: 3em;
        bottom: -4em;
        opacity: 1
    }

    .slick-arrow.slick-prev {
        left: 0em
    }

    .slider .slick-arrow.slick-next {
        left: 5em
    }
}

@media screen and (max-width:768px) {
    .work_visible_pc {
        display: none
    }

    .work_visible_mobile {
        display: block
    }

    .work {
        height: 53em
    }

    .bg_skew_work {
        height: 55em;
        padding-top: 0em
    }

    .wrapper_work {
        width: 35em;
        height: 50em
    }

    .work_inner {
        width: 100%;
        height: 93%;
        padding: 0
    }

    .work_title {
        font-size: 3em
    }

    .slider_description {
        padding: 0 0 1em
    }

    .slider_item_content {
        width: 85%;
        font-size: 1.5em;
        top: auto;
        left: 0;
        right: 0;
        bottom: 7%;
        margin: auto;
        transform: translate3d(0, 0, 0) skewY(-3deg);
        background-color: rgba(0, 159, 227, 0.9)
    }

    .slider_item_content_title {
        padding: .5em 0 .25em;
        transform: skewY(3deg)
    }

    .slider_item_content_text {
        padding: .25em .5em .5em;
        transform: skewY(3deg)
    }

    .slider .slick-arrow.slick-next {
        left: 6em
    }
}

@media screen and (max-width:600px) {
    .work {
        height: 41em
    }

    .bg_skew_work {
        height: 43em
    }

    .wrapper_work {
        width: 25em;
        height: 40em
    }

    .work_inner {
        height: 91%
    }

    .work_title {
        font-size: 2em
    }

    .slider_item_content {
        font-size: 1.3em
    }
}

@media screen and (max-width:425px) {
    .work {
        height: 32em
    }

    .bg_skew_work {
        height: 33em
    }

    .wrapper_work {
        width: 21.5em;
        height: 30em
    }

    .work_inner {
        height: 89%
    }

    .work_title {
        font-size: 1.5em
    }

    .slider_item_content {
        font-size: 1.1em;
        line-height: 1.3em
    }
}

@media screen and (max-width:375px) {
    .work {
        height: 28em
    }

    .bg_skew_work {
        height: 29em
    }

    .wrapper_work {
        width: 18em;
        height: 26em
    }

    .work_inner {
        width: 100%;
        height: 87%;
        padding: 0
    }

    .slider_item_content {
        font-size: 1em;
        line-height: 1.3em
    }
}
